<div style="width: 500px; height: 700px">

<h2 mat-dialog-title >Basic Selections</h2>


<mat-dialog-content class="mat-topography">
    <legend class="dg-text-header-medium" style="line-height: 48px;">
    <h3>Institute</h3>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </legend>

    <h3>Academic Year</h3>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>

    <h3>term/semester</h3>
    <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>

</mat-dialog-content>

</div>

