

<div class="grid-container">
<app-de-card-view class="item1" [cardLayoutData]="overallAttCard"[headTemplateRef]="attRankCardContent" ></app-de-card-view>
<app-de-card-view  class="item2" [cardLayoutData]="overallAttCard"[headTemplateRef]="attRankCardContent" ></app-de-card-view>
<app-de-card-view  class="item3" [cardLayoutData]="overallAttCard"[headTemplateRef]="attRankCardContent" ></app-de-card-view>
<app-de-card-view  class="item4" [cardLayoutData]="overallAttCard"[headTemplateRef]="attRankCardContent" ></app-de-card-view>
<app-de-card-view  class="item5" [cardLayoutData]="overallAttCard"[headTemplateRef]="attRankCardContent" ></app-de-card-view>

</div>

<ng-template #attRankCardContent>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum porro eum ut dicta exercitationem, doloremque repudiandae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolores ea impedit fugit praesentium provident natus optio ex, delectus ipsa dolorum architecto quae laudantium, tempore exercitationem odit labore deleniti aliquid corporis? Eius eos amet nihil excepturi repudiandae quisquam et vero facilis iure dolor esse, pariatur voluptas tempora quo nostrum perferendis aperiam earum. Placeat ipsa laborum corporis accusamus quia, commodi laboriosam itaque vel blanditiis iure doloremque sint!</p>
</ng-template>
  
