

/* :root{
    --color-primary: #4b4eb6;
    --color-danger: #f10d20;
    --color-success: #21ffb5;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #0e1fa3;
    --color-dark-variant: #677483;
    --color-backgrounf: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4px;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;


    --box-shadow: 0 2rem 3rem var(--color-light)
} */



  
.grid-container {
  position: fixed;
   display: grid;
   justify-content: space-around;
   gap: 10px;
   
   /* margin-top: 50px; */
   /* margin: 10px 10px 10px 10px; */
  }

  .item1{
    grid-row: 1 / span 1;
    
  }
  .item2{
    grid-row: 1/ span 1;
   
   
  }
  .item3{
    grid-row: 1 / span 1;
   
  }
  .item4{
    grid-row: 2 / span 2;
   
  }
  .item5{
    grid-row: 2 / span 2;
   
  }
  .item6{
    grid-row: 2 / span 2;
    border: 1px solid black;
  }
  

  
 

  .header-icon{
    margin-left: 300px;
    margin-top: -25px;
  }

  .grid-container mat-card-header{
  background-color: var(--color-primary);
    
  }

  
  .grid-container mat-card-content{
    background-color: var(--color-warning);
    text-align: center;
  }

  .grid-container mat-card-footer {
    text-align: center;
    /* background-color: rgb(241, 78, 106); */
    /* background-color: var(--color-success); */
  }

  .footer-btn{
    display: flex;
    justify-content: space-around;
    height: 66px

  }

  .btnItem{
    /* height: 30px;
    width: 50px; */
    justify-content: space-around;
    /* margin-top: 20px; */
  }

  .footer-btn1{
    display: flex;
    justify-content: space-around;
  }


  .de-mat-card{
    width: 545px;

  }
  .de-mat-card-header{
    background-color: #283593;
    height: 40px;

  }

  .de-mat-card-footer{
    background-color: #283593;
    height: 40px;
  }

  .de-mat-card-footer-context-menu{
    margin: 0px;
  }
  .help-action{
    margin-left: 20px;
  }