<app-portal-header  (sidenavToggled)="sideNavStatus = $event"></app-portal-header>
    <main>
        <app-navigation-portal  [SideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-navigation-portal>

        <div class="display-area " [ngClass]="{'display-area-shrink': sideNavStatus}">
            <app-assignment></app-assignment>

        </div>

        <!-- <div>
            <app-form-builder></app-form-builder>
        </div> -->
        
    </main>

       